<!DOCTYPE html>
<html lang="en">

<head th:object="${pelicula}">
    <meta charset="UTF-8" />
    <link rel="shortcut icon"
        href="https://cinemarkla.modyocdn.com/uploads/ad836c7a-c6ea-4f42-94e4-76bb18d92889/C32x32/Cinemark_Lettermark_RGB_Red.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Style-->
    <link rel="stylesheet" th:href="@{/css/Style_main.css}" />
    <link rel="stylesheet" th:href="@{/css/modal.css}" />
    <!--SweetAlert-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.all.min.js"></script>
    <!--FontAwesome-->
    <script src="https://kit.fontawesome.com/0ec2586e1a.js" crossorigin="anonymous"></script>
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <!-- fancybox -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <!-- Select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>



    <title th:text="*{titulo}"></title>
</head>

<body>
    <header class="header" th:insert="fragments/header_static :: header_static"></header>
    <div class="container my-5" th:object="${pelicula}">
        <div class="row">
            <div class="col-md-6">
                <img th:src="@{/assets/{filename}(filename=*{rutaPortada})}" th:alt="*{titulo}"
                    class="img-fluid rounded w-100">
            </div>
            <div class="col-md-6">
                <div class="detalle-titulo">
                    <h2 th:text="*{titulo}"></h2>
                </div>
                <div class="mb-3 container-datos">
                    <div>
                        <span class="generoCont" th:each="genero : *{generos}" th:text="${genero.titulo}"></span>
                    </div>
                    <div>
                        <span class="duracionCont" th:text="'Duracion: ' + *{duracionPelicula} +  ' Minutos'"></span>
                        <span class="duracionCont" th:each="cat : *{categoria}"
                            th:text="'Categoria: ' +${cat.categoria}"></span>
                    </div>
                </div>
                <p th:text="*{sinopsis}" class="detalle-parrafo"></p>
                <div class="botones my-3">
                    <button class="btn btn-danger btrn be" onclick="openCompraModal()">Seleccionar Parqueo</button>
                    <a th:href="@{https://www.youtube.com/watch?v={youtubeId}(youtubeId=*{youtubeTrailerId})}"
                        class="btn btn-danger btrn" data-fancybox="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-film" viewBox="0 0 16 16">
                            <path
                                d="M0 1a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1zm4 0v6h8V1H4zm8 8H4v6h8V9zM1 1v2h2V1H1zm2 3H1v2h2V4zM1 7v2h2V7H1zm2 3H1v2h2v-2zm-2 3v2h2v-2H1zM15 1h-2v2h2V1zm-2 3v2h2V4h-2zm2 3h-2v2h2V7zm-2 3v2h2v-2h-2zm2 3h-2v2h2v-2z" />
                        </svg> Ver trailer
                    </a>
                </div>
                <div id="carrito" style="display:none;">
                    <div class="carrito-title">
                        <h3>Carrito de Compras <i class="fa-solid fa-cart-arrow-down" style="color: #e50246;"></i></h3>
                    </div>
                    <div class="carrito-body">
                        <table>
                            <thead>
                                <tr>
                                    <th>Producto</th> <!-- Nueva columna de imágenes -->
                                    <th>Descripcion</th>
                                    <th>Cantidad</th>
                                    <th>Precio Unitario</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody id="carritoBody">
                                <!-- Aquí se mostrarán los productos del carrito -->
                            </tbody>
                        </table>
                    </div>
                    <div class="carrito-total-pago">
                        <div class="content-total-pago">
                            <h5 id="totalGeneral">Total General: <span class="price-pol">$0.00</span></h5>

                            <button class="carrito-pagar" id="idPagar">Pagar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contenedor del carrito de compras -->

    </div>
    <div id="compraModal">
        <div id="modalContent">
            <div class="modal-tittle" th:object="${pelicula}">
                <h3>Estacionamiento Para: <span th:text="*{titulo}" class="pelicula-tittle"></span></h3>

                <div class="button-tittle">
                    <button onclick="closeCompraModal()" class="btn-cerrar-modal"><i class="fa-solid fa-circle-xmark"
                            style="color: #e50246;"></i></button>
                </div>
            </div>

            <form id="compraForm">
                <!-- Verificamos la autenticación -->


                <select id="sede" name="sede" onchange="actualizarAsientos()" class="sede-select">
                    <option th:each="sede : ${sedes}" th:value="${sede.id}" th:text="${sede.nombre}"></option>
                </select>

                <!-- Contenedor de asientos -->
                <div class="" id="contenedorAsientos">

                </div>

                <!-- Contenedor de comida -->
                <div class="Aperitivos-main">
                    <h3 class="tittle-aperitivo">Aperitivos:</h3>
                    <div class="contenedor-comida">
                        <div id="comida" name="comida" class="comida-container" th:each="comida : ${comidas}">
                            <div id="infoPelicula-asiento" th:data-id="${pelicula.id}"
                                th:data-rutaImagen="${pelicula.rutaPortada}" style="display: none;"></div>
                            <div class="comida-tarjeta">
                                <div class="img-comida">
                                    <div th:id="'infoPelicula-comida-'+ ${comida.idComida}"
                                        th:data-id-comida="${comida.idComida}"
                                        th:data-rutaImagen-comida="${comida.imageUrl}" style="display: none;"></div>
                                    <img th:src="@{/images/confiteria/{filename}(filename=*{comida.imageUrl})}" alt="">
                                </div>
                                <div class="card-comida-info">
                                    <div class="card-title">
                                        <h4 th:text="${comida.nombre}"></h4>
                                    </div>
                                    <div class="main-context">
                                        <div class="card-context">
                                            <p th:text="${comida.descripcion}"></p>
                                        </div>
                                        <div class="card-price">
                                            <div class="contet-price">
                                                <p th:text="'S/.' + ${comida.precio}"></p>

                                            </div>
                                            <div class="card-compra">
                                                <input type="number" th:id="'cantidadComida-' + ${comida.idComida}"
                                                    value="1" min="1" max="10">
                                                <!-- Agrega los atributos data-* aquí -->
                                                <button type="button" onclick="seleccionarComida(this)"
                                                    th:data-idcomida="${comida.idComida}"
                                                    th:data-nombrecomida="${comida.nombre}"
                                                    th:data-preciocomida="${comida.precio}">
                                                    <i class="fa-solid fa-circle-check" style="color: #40dc1c;"></i>
                                                </button>
                                            </div>


                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content-button-carrito">
                    <button type="button" onclick="mostrarCarrito()"><i class="fa-solid fa-cart-arrow-down"
                            style="color: #e50246;"></i></button>
                </div>

            </form>

        </div>
    </div>
    <footer th:insert="fragments/footer :: footer"></footer>
    <script th:inline="javascript">
        var idPagar = document.getElementById("idPagar");
        idPagar.addEventListener("click", Pagar);
        function Pagar() {
            Swal.fire({
                title: "<span style='font-size: 44px; font-weight: bold; color: white; font-family: Righteous, cursive;'>Buen Trabajo!</span>",
                html: "<span style='font-size: 28px; color:white; font-family: Righteous, cursive;'>Pago Completado</span>",
                icon: "success",
                iconColor: "#00AD4E",
                background: "#151515",
                confirmButtonColor: "#ec1d24",
                confirmButtonText: "<span style='font-size: 28px; color:white; font-family: Righteous, cursive;'>Hecho</span>"

            });
        }
        var precioUnitarioAsiento = 20.00; // Precio fijo para todos los asientos
        var tusDatosDeComida = /*[[${comidas}]]*/[];
        var sedes = /*[[${sedes}]]*/[];
        var asientosPorSede = /*[[${asientosPorSede}]]*/ {};

        console.log("Comidas:", tusDatosDeComida);
        console.log("sedes:", sedes);
        console.log("asientosPorSedeP:", asientosPorSede);

        function openCompraModal() {
            // Verificar si el usuario está autenticado
            fetch('/api/authenticated')
                .then(response => {
                    console.log('Response status:', response.status);

                    if (response.ok) {
                        // Si está autenticado, mostrar el modal de compra y actualizar la lista de sedes
                        document.getElementById('compraModal').style.display = 'block';
                        actualizarListaSedes();
                    } else {
                        // Si no está autenticado, redirigir al inicio de sesión sin mostrar el modal
                        window.location.href = '/login';
                    }
                })
                .catch(error => {
                    console.error('Error al verificar autenticación:', error);
                });
        }

        function closeCompraModal() {
            document.getElementById('compraModal').style.display = 'none';
        }

        function actualizarListaSedes() {
            renderizarSedes(sedes);
        }

        function renderizarSedes(sedes) {
            var selectSede = document.getElementById('sede');
            selectSede.innerHTML = '';

            for (var i = 0; i < sedes.length; i++) {
                var option = document.createElement('option');
                option.value = sedes[i].id;
                option.text = sedes[i].nombre;
                selectSede.appendChild(option);
            }

            // Al renderizar las sedes, también actualiza los asientos
            actualizarAsientos();
        }

        function actualizarAsientos() {
            var selectSede = document.getElementById('sede');
            var contenedorAsientos = document.getElementById('contenedorAsientos');
            contenedorAsientos.innerHTML = '';

            var idSede = selectSede.value;
            console.log('ID de la sede:', idSede);
            console.log('Asientos por sede:', asientosPorSede);

            // Verifica si la sede seleccionada tiene asientos antes de procesar
            if (asientosPorSede.hasOwnProperty(idSede)) {
                var asientosDeSede = asientosPorSede[idSede];

                // Crear el contenedor de asientos directamente aquí
                var divSede = document.createElement('div');
                divSede.className = 'cancha';

                for (var i = 0; i < asientosDeSede.length; i++) {
                    var asiento = asientosDeSede[i];

                    var divAsiento = document.createElement('div');
                    divAsiento.className = 'lugar';
                    divAsiento.id = 'asiento_' + idSede + '_' + asiento.idAsiento;

                    // Modificar la línea siguiente para incluir el icono
                    divAsiento.innerHTML = asiento.estado === 'OCUPADO' ?
                        '<i class="fa-solid fa-car" style="color: white;"></i>' :
                        '<i class="fa-solid fa-car" style="color: #24262b;"></i>';

                    agregarEventoClic(divAsiento, asiento, idSede, asiento.nombre);

                    if (asiento.estado === 'OCUPADO') {
                        divAsiento.classList.add('asiento-ocupado');
                    }

                    divSede.appendChild(divAsiento);
                }

                // Adjuntar el contenedor de asientos al DOM en el lugar correcto
                contenedorAsientos.appendChild(divSede);
            }
        }

        function agregarEventoClic(divAsiento, asiento, idSede) {
            divAsiento.id = 'asiento_' + idSede + '_' + asiento.idAsiento;
            divAsiento.addEventListener('click', function () {
                seleccionarAsiento(asiento.idAsiento, idSede, asiento.nombreAsiento);
            });
        }

        var seleccionUsuario = {
            idAsiento: null,
            idSede: null,
            nombreAsiento: null,
            productosComida: [],
        };

        function seleccionarAsiento(idAsiento, idSede, nombreAsiento) {
            console.log('ID del asiento seleccionado:', idAsiento);
            console.log('ID de la sede:', idSede);
            console.log('Nombre del asiento seleccionado:', nombreAsiento);

            var elementoAsiento = document.getElementById('asiento_' + idSede + '_' + idAsiento);

            if (elementoAsiento.classList.contains('asiento-seleccionado')) {
                elementoAsiento.classList.remove('asiento-seleccionado');
                seleccionUsuario.idAsiento = null;
                seleccionUsuario.idSede = null;
                seleccionUsuario.nombreAsiento = null;
            } else {
                elementoAsiento.classList.add('asiento-seleccionado');
                seleccionUsuario.idAsiento = idAsiento;
                seleccionUsuario.idSede = idSede;
                seleccionUsuario.nombreAsiento = nombreAsiento;
                precioUnitarioAsiento = obtenerPrecioAsiento(idAsiento, idSede);
            }

            // Verifica si la información se está registrando correctamente
            console.log('Selección del usuario:', seleccionUsuario);
        }

        function seleccionarComida(button) {
            var idComida = button.getAttribute('data-idcomida');
            var nombreComida = button.getAttribute('data-nombrecomida');
            var precioUnitarioComida = parseFloat(button.getAttribute('data-preciocomida'));

            // Construir el id del input de cantidad
            var inputCantidadId = 'cantidadComida-' + idComida;

            // Obtén la cantidad directamente del input
            var cantidadComidaElement = document.getElementById(inputCantidadId);

            if (cantidadComidaElement) {
                var cantidadComida = parseInt(cantidadComidaElement.value);
                var productoExistente = seleccionUsuario.productosComida.find(producto => producto.idComida === idComida);

                if (productoExistente) {
                    // Si el producto ya está en el carrito, actualiza la cantidad
                    productoExistente.cantidad += cantidadComida;
                } else {
                    // Si el producto no está en el carrito, agrégalo con la cantidad seleccionada
                    seleccionUsuario.productosComida.push({
                        idComida: idComida,
                        nombreComida: nombreComida,
                        cantidad: cantidadComida,
                        precioUnitario: precioUnitarioComida,
                    });
                }
                console.log('Carrito actualizado:', seleccionUsuario.productosComida);
                // Luego de actualizar el carrito, puedes llamar a la función para mostrar el carrito
                mostrarCarrito();
            } else {
                console.error('No se pudo encontrar el elemento para la cantidad de comida:', inputCantidadId);
            }
        }

        function mostrarCarrito() {
            var carrito = document.getElementById('carrito');
            carrito.style.display = 'block';

            var carritoBody = document.getElementById('carritoBody');
            carritoBody.innerHTML = '';

            var totalAsiento = 0;

            if (seleccionUsuario.idAsiento && seleccionUsuario.idSede) {
                var nombreAsiento = seleccionUsuario.nombreAsiento;
                var nombreSede = sedes.find(sede => sede.id == seleccionUsuario.idSede).nombre;
                // Obtén la información de la película desde el bloque div
                var infoPelicula = document.getElementById('infoPelicula-asiento');
                var rutaImagenAsiento = infoPelicula.getAttribute('data-rutaImagen');
                var filaAsiento = document.createElement('tr');
                filaAsiento.innerHTML = `<td> <a href="/assets/${rutaImagenAsiento}" data-fancybox> <img src="/assets/${rutaImagenAsiento}" alt="Imagen Asiento" height="" class="img-thumbnail w-100"> </a></td>
                <td>${nombreAsiento} - ${nombreSede}</td>
                <td>1</td>
                <td>${precioUnitarioAsiento.toFixed(2)}</td>
                <td>${(1 * precioUnitarioAsiento).toFixed(2)}</td>`;
                carritoBody.appendChild(filaAsiento);

                totalAsiento = 1 * precioUnitarioAsiento;
            }

            var totalComida = 0;

            for (var i = 0; i < seleccionUsuario.productosComida.length; i++) {

                var productoComida = seleccionUsuario.productosComida[i];
                var nombreComida = productoComida.nombreComida;
                var cantidadComida = productoComida.cantidad;

                // Construye el identificador específico para la información de la película de la comida actual
                var infoPeliculaComidaId = 'infoPelicula-comida-' + productoComida.idComida;

                // Obtén la información de la película desde el bloque div específico para la comida
                var infoPeliculaComida = document.getElementById(infoPeliculaComidaId);
                var rutaImagenComida = infoPeliculaComida.getAttribute('data-rutaImagen-comida');

                var filaComida = document.createElement('tr');
                filaComida.innerHTML = `<td><a data-fancybox href="/images/confiteria/${rutaImagenComida}"><img src="/images/confiteria/${rutaImagenComida}" alt="Imagen Asiento" class="img-thumbnail w-100"></td>
                <td>${nombreComida}</td>
                <td>${cantidadComida}</td>
                <td>${productoComida.precioUnitario.toFixed(2)}</td>
                <td>${(cantidadComida * productoComida.precioUnitario).toFixed(2)}</td>`;
                carritoBody.appendChild(filaComida);

                totalComida += cantidadComida * productoComida.precioUnitario;

            }
            var totalGeneral = totalAsiento + totalComida;

            var filaTotal = document.createElement('tr');
            filaTotal.innerHTML = `<td colspan="3"><strong>Total</strong></td>
            <td>${totalGeneral.toFixed(2)}</td>`;
            carritoBody.appendChild(filaTotal);

            // Actualizar el total general en el carrito
            document.getElementById('totalGeneral').innerText = 'Total General: $' + totalGeneral.toFixed(2);
            // closeCompraModal();

        }

    </script>
</body>

</html>