<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/head :: head"></head>
<style>

</style>

<body>
    <header class="header" th:insert="fragments/header_static :: header_static">
    </header>


    <div class="container my-5" style="margin-top: 100px;">

        <div class="list-pelicula-head">
            <span class="box"></span>
            <h2><span style="color: white;">Listado de las Peliculas &nbsp;</span> - Administracion</h2>
            <a href="/cartelera/peliculas/nuevo" class="btn-agregar-pelicula"><i class="fa-solid fa-square-plus fa-2xl"
                    style="color: #e50246;"></i></a>
        </div>
        <table class="table ">
            <thead>
                <tr class="tHEAD">
                    <th>Portada </th>
                    <th>Pelicula</th>
                    <th>F.Estreno</th>
                    <th>Editar</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pelicula : ${peliculas}" th:object="${pelicula}">
                    <td style="width:150px;">
                        <a th:href="@{/assets/{filename}(filename=*{rutaPortada})}" data-fancybox>
                            <img th:src="@{/assets/{filename}(filename=*{rutaPortada})}" alt=""
                                class="img-thumbnail w-100">
                        </a>
                    </td>
                    <td>
                        <h3 th:text="*{titulo}" class=""></h3>
                        <p th:text="*{sinopsis}"></p>

                        <div class="categoria-genero-container">
                            <div>
                                <span class="container-genero" th:each="genero : *{generos}" th:text="${genero.titulo}">
                                </span>
                            </div>
                            <div> <span th:each="cat: *{categoria}" th:text="${cat.categoria}"
                                    class="container-categoria">
                                </span></div>

                        </div>


                    </td>
                    <td class="container-date">
                        <span th:text="*{#temporals.format(fechaEstreno,'dd/MM/yyyy')}"></span>
                    </td>
                    <td class="container-editar-eliminar">
                        <div>
                            <a th:href="@{/cartelera/peliculas/{id}/editar(id=*{id})}"><i
                                    class="fa-solid fa-pen-to-square" style="color: #3cd78f;"></i></a>
                        </div>
                    </td>
                    <td class="container-editar-eliminar">
                        <div>
                            <a href="javascript:void(0)" class="text-danger ms-3"
                                th:onclick="'eliminarPelicula(' + *{id} +')'"><i class="fa-solid fa-trash"
                                    style="color: #e50246;"></i></a>
                            <form th:id="'eliminarPeliculaForm' + *{id}"
                                th:action="@{/cartelera/peliculas/{id}/eliminar(id=*{id})}" method="post"
                                class="d-none">
                            </form>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row mt-5" th:if="${peliculas.totalPages > 1}">
            <div class="col-sm-12">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li th:if="${peliculas.hasPrevious()}" class="page-item">
                            <a th:href="@{${'/cartelera?page=' + (peliculas.number - 1)}}" aria-label="Previous"
                                class="page-link page-container" style="background-color: white; color: #e50246;">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li th:each="i : ${#numbers.sequence(0, peliculas.totalPages - 1)}" class="page-item"
                            th:classappend="${peliculas.number == i} ? 'active' : ''">
                            <a th:href="@{${'/cartelera?page=' + i}}" class="page-link"
                                th:style="${peliculas.number == i} ? 'background-color: #e50246; color: white;' : 'color: #e50246;'"
                                th:text="${i + 1}"></a>
                        </li>
                        <li th:if="${peliculas.hasNext()}" class="page-item">
                            <a th:href="@{${'/cartelera?page=' + (peliculas.number + 1)}}" aria-label="Next"
                                class="page-link page-container" style="background-color: white; color: #e50246;">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>


    </div>
    <footer th:insert="fragments/footer :: footer"></footer>
    <script>
        function eliminarPelicula(id) {
            if (!confirm('¿Estás seguro de eliminar esta película?')) {
                return;
            }
            $('#eliminarPeliculaForm' + id).submit();
        }
    </script>


</body>

</html>