<div id="carouselExampleIndicators" class="carousel slide" th:fragment="banner">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
            aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
            aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active d-item">
            <img th:src="@{../images/autocinefondo.jpg}" class="d-block w-100 d-img" alt="..." />
            <div class="carousel-caption top-0 mt-4">
                <div class="carousel_text">
                    <span class="back"></span>
                    <h1 class>Digimon <br />Adventure 02: <br />The
                        Beginning</h1>
                    <p>
                        Nuevos DigiDestined emergen para enfrentar
                        desafíos digitales y
                        proteger ambos mundos, demostrando el poder de
                        la amistad y la
                        evolución en su épico viaje.
                    </p>
                    <div style="margin-top: 30px">
                        <a class="text-uppercase btn-reproducir" href="https://www.youtube.com/watch?v=3DshfsfYvjo"
                            data-fancybox="">

                            <i class="fa-solid fa-play"></i> Reproducir
                        </a>
                        <a class="text-uppercase"><i class="fa-solid fa-ticket" style="color: #ffffff"></i>
                            Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item d-item">
            <img th:src="@{../images/banner2.png}" class="d-block w-100 d-img" alt="..." />
            <div class="carousel-caption top-0 mt-4">
                <div class="carousel_text">
                    <span class="back"></span>
                    <h1 class>Five Nights <br /> at Freddy's</h1>
                    <p>
                        Un guardia de seguridad es contratado para trabajar la noche en una pizzería infantil, pero
                        pronto se da cuenta de que los animatrónicos que entretienen a los niños pueden ser mucho más
                        peligrosos de lo que parecen.
                    </p>
                    <div style="margin-top: 30px">
                        <a class="text-uppercase btn-reproducir" href="https://www.youtube.com/watch?v=IJD1VktHJSw"
                            data-fancybox="">

                            <i class="fa-solid fa-play"></i> Reproducir
                        </a>
                        <a class="text-uppercase"><i class="fa-solid fa-ticket" style="color: #ffffff"></i>
                            Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item d-item">
            <img th:src="@{../images/banner3.png}" class="d-block w-100 d-img" alt="..." />
            <div class="carousel-caption top-0 mt-4">
                <div class="carousel_text">
                    <span class="back"></span>
                    <h1 class>The Marvels</h1>
                    <p>
                        La Capitana Marvel se encuentra frente a una nueva amenaza, pero no está sola. Ms. Marvel y
                        Monica Rambeau están a su lado, pero ¿será suficiente?
                    </p>
                    <div style="margin-top: 30px">
                        <a class="text-uppercase btn-reproducir" href="https://www.youtube.com/watch?v=04pfoDZvE_g
                        " data-fancybox="">

                            <i class="fa-solid fa-play"></i> Reproducir
                        </a>
                        <a class="text-uppercase"><i class="fa-solid fa-ticket" style="color: #ffffff"></i>
                            Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item d-item">
            <img th:src="@{../images/banner4.png}" class="d-block w-100 d-img" alt="..." />
            <div class="carousel-caption top-0 mt-4">
                <div class="carousel_text">
                    <span class="back"></span>
                    <h1 class>Los juegos del hambre: <br>
                        Balada de pájaros cantores y serpientes</h1>
                    <p>
                        Lucy Gray Baird está en peligro. Los otros tributos están decididos a matarla, y Coriolanus Snow
                        no puede protegerla. Si Lucy Gray muere, Coriolanus perderá la oportunidad de restaurar su
                        nombre y su familia quedará en ruinas. ¿Podrá Coriolanus encontrar una manera de salvarla?
                    </p>
                    <div style="margin-top: 30px">
                        <a class="text-uppercase btn-reproducir" href="https://www.youtube.com/watch?v=6BW-F4d9lV0"
                            data-fancybox="">

                            <i class="fa-solid fa-play"></i> Reproducir
                        </a>
                        <a class="text-uppercase"><i class="fa-solid fa-ticket" style="color: #ffffff"></i>
                            Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item d-item">
            <img th:src="@{../images/banner5.png}" class="d-block w-100 d-img" alt="..." />
            <div class="carousel-caption top-0 mt-4">
                <div class="carousel_text">
                    <span class="back"></span>
                    <h1 class>Saw X</h1>
                    <p>
                        Un grupo de personas se despiertan en una habitación oscura. No saben cómo llegaron allí, ni
                        quién los secuestró. Luego, escuchan una voz en un altavoz que les dice que si quieren vivir,
                        deben superar una serie de pruebas
                    </p>
                    <div style="margin-top: 30px">
                        <a class="text-uppercase btn-reproducir" href="https://www.youtube.com/watch?v=t3PzUo4P21c"
                            data-fancybox="">

                            <i class="fa-solid fa-play"></i> Reproducir
                        </a>
                        <a class="text-uppercase"><i class="fa-solid fa-ticket" style="color: #ffffff"></i>
                            Comprar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>