<footer class="footer" th:fragment="footer">
    <div class="containers">
        <div class="rowsd">
            <div class="footer-col">
                <h1>Cine<span class="logo__style">Drive</span></h1>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto hic autem deserunt eos
                    expedita cumque vitae voluptas consequuntur, optio dolor adipisci possimus sit porro placeat
                    aliquid maxime temporibus laudantium nemo?</p>

            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">shipping</a></li>
                    <li><a href="#">returns</a></li>
                    <li><a href="#">order status</a></li>
                    <li><a href="#">payment options</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Trabaja con Nosotros</h4>
                <ul>
                    <li><a href="#">Postular</a></li>
                    <li><a href="#">Postular</a></li>
                    <li><a href="#">Postular</a></li>
                    <li><a href="#">Postular</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Siguenos</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>