<div th:fragment="modal">
    <div id="myModal">
        <div id="modalContent">
            <div class="head-modal">
                <h2 th:text="'Seleccione un lugar para: ' + *{titulo}"></h2>
                <button onclick="closeModal()"><i class="fa-solid fa-xmark" style="color: #e50246;"></i></button>
            </div>

            <div class="cancha" id="places-container">
                <!-- Representación visual de la cancha con lugares para estacionar -->
                <div class="lugar" onclick="selectPlace('Lugar 1')"><i class="fa-solid fa-car"></i></div>
                <div class="lugar" onclick="selectPlace('Lugar 2')"><i class="fa-solid fa-car"></i></div>
                <div class="lugar" onclick="selectPlace('Lugar 3')"><i class="fa-solid fa-car"></i></div>
                <div class="lugar" onclick="selectPlace('Lugar 4')"><i class="fa-solid fa-car"></i></div>
                <div class="lugar" onclick="selectPlace('Lugar 5')"><i class="fa-solid fa-car"></i></div>
                <div class="lugar" onclick="selectPlace('Lugar 6')"><i class="fa-solid fa-car"></i></div>
                <div class="lugar" onclick="selectPlace('Lugar 7')"><i class="fa-solid fa-car"></i></div>
                <div class="lugar" onclick="selectPlace('Lugar 8')"><i class="fa-solid fa-car"></i></div>
                <div class="lugar" onclick="selectPlace('Lugar 9')"><i class="fa-solid fa-car"></i></div>
                <div class="lugar" onclick="selectPlace('Lugar 10')"><i class="fa-solid fa-car"></i></div>
                <div class="lugar" onclick="selectPlace('Lugar 11')"><i class="fa-solid fa-car"></i></div>
                <div class="lugar" onclick="selectPlace('Lugar 12')"><i class="fa-solid fa-car"></i></div>
                <div class="lugar" onclick="selectPlace('Lugar 13')"><i class="fa-solid fa-car"></i></div>
                <div class="lugar" onclick="selectPlace('Lugar 14')"><i class="fa-solid fa-car"></i></div>
                <div class="lugar" onclick="selectPlace('Lugar 15')"><i class="fa-solid fa-car"></i></div>
                <div class="lugar" onclick="selectPlace('Lugar 16')"><i class="fa-solid fa-car"></i></div>
                <div class="lugar" onclick="selectPlace('Lugar 17')"><i class="fa-solid fa-car"></i></div>
                <div class="lugar" onclick="selectPlace('Lugar 18')"><i class="fa-solid fa-car"></i></div>
                <div class="lugar" onclick="selectPlace('Lugar 19')"><i class="fa-solid fa-car"></i></div>
                <div class="lugar" onclick="selectPlace('Lugar 20')"><i class="fa-solid fa-car"></i></div>
                <!-- Puedes agregar más lugares según sea necesario -->
            </div>

        </div>
    </div>

    <div class="lugar-selecionado">
        <p>Lugar Seleccionado: <span id="selected-place">Ninguno</span></p>
    </div>

</div>