<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/head :: head">
</head>

<body>
    <header th:insert="fragments/header :: header"></header>
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active d-item">
                <img th:src="@{../images/autocinefondo.jpg}" class="d-block w-100 d-img" alt="..." />
                <div class="carousel-caption top-0 mt-4">
                    <div class="carousel_text">
                        <span class="back"></span>
                        <h1 class>Digimon <br />Adventure 02: <br />The
                            Beginning</h1>
                        <p>
                            Nuevos DigiDestined emergen para enfrentar
                            desafíos digitales y
                            proteger ambos mundos, demostrando el poder de
                            la amistad y la
                            evolución en su épico viaje.
                        </p>
                        <div style="margin-top: 30px">
                            <a class="text-uppercase btn-reproducir"><i class="fa-solid fa-play"></i> Reproducir</a>
                            <a class="text-uppercase"><i class="fa-solid fa-ticket" style="color: #ffffff"></i>
                                Comprar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item d-item">
                <img th:src="@{../images/autocinefondo.jpg}" class="d-block w-100 d-img" alt="..." />
                <div class="carousel-caption top-0 mt-4">
                    <div class="carousel_text">
                        <span class="back"></span>
                        <h1 class>Digimon <br />Adventure 02: <br />The
                            Beginning</h1>
                        <p>
                            Nuevos DigiDestined emergen para enfrentar
                            desafíos digitales y
                            proteger ambos mundos, demostrando el poder de
                            la amistad y la
                            evolución en su épico viaje.
                        </p>
                        <div style="margin-top: 30px">
                            <a class="text-uppercase btn-reproducir"><i class="fa-solid fa-play"></i> Reproducir</a>
                            <a class="text-uppercase"><i class="fa-solid fa-ticket" style="color: #ffffff"></i>
                                Comprar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item d-item">
                <img th:src="@{../images/autocinefondo.jpg}" class="d-block w-100 d-img" alt="..." />
                <div class="carousel-caption top-0 mt-4">
                    <div class="carousel_text">
                        <span class="back"></span>
                        <h1 class>Digimon <br />Adventure 02: <br />The
                            Beginning</h1>
                        <p>
                            Nuevos DigiDestined emergen para enfrentar
                            desafíos digitales y
                            proteger ambos mundos, demostrando el poder de
                            la amistad y la
                            evolución en su épico viaje.
                        </p>
                        <div style="margin-top: 30px">
                            <a class="text-uppercase btn-reproducir"><i class="fa-solid fa-play"></i> Reproducir</a>
                            <a class="text-uppercase"><i class="fa-solid fa-ticket" style="color: #ffffff"></i>
                                Comprar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item d-item">
                <img th:src="@{../images/autocinefondo.jpg}" class="d-block w-100 d-img" alt="..." />
                <div class="carousel-caption top-0 mt-4">
                    <div class="carousel_text">
                        <span class="back"></span>
                        <h1 class>Digimon <br />Adventure 02: <br />The
                            Beginning</h1>
                        <p>
                            Nuevos DigiDestined emergen para enfrentar
                            desafíos digitales y
                            proteger ambos mundos, demostrando el poder de
                            la amistad y la
                            evolución en su épico viaje.
                        </p>
                        <div style="margin-top: 30px">
                            <a class="text-uppercase btn-reproducir"><i class="fa-solid fa-play"></i> Reproducir</a>
                            <a class="text-uppercase"><i class="fa-solid fa-ticket" style="color: #ffffff"></i>
                                Comprar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="welcome-container-main">
        <div class="welcome-container">
            <div class="welcome-card-1">
                <span class="welcome-back"></span>
                <h1 class="">Bienvenido <br> Socio <br> CineDrive</h1>
                <p>Estas listo para vivir la más grande experiencia y disfrutar los mejores beneficios?<a href="#"
                        style="color: #E50246;"> Socio CineDrive </a>
                    es el programa que esperabas.</p>

                <div class="welcome-btn">
                    <a href="#">Ver más</a>
                </div>
            </div>
            <div class="welcome-card-2">
                <img th:src="@{../images/recursos/carnet_cinedrive-removebg-preview.png}" alt="">
            </div>
        </div>
    </div>

    <div class="cartelera-semanal contenedor">
        <div class="contenedor-titulo-controles">
            <span class="option">
                <h3 class="text-uppercase first-child">Cartelera Semanal</h3>
                <p class="information text-uppercase"><a href="">Ver Cartelera</a></p>
            </span>

            <div class="indicadores"></div>
        </div>

        <div class="contenedor-principal">
            <button role="button" id="flecha-izquierda" class="flecha-izquierda">
                <i class="fa-solid fa-angle-left"></i>
            </button>
            <div class="contenedor-carousel">
                <div class="carousel">
                    <div class="pelicula">

                        <a href="#">
                            <img th:src="@{../images/cartelera/pelicula1.jpg}" alt /></a>

                    </div>

                    <div class="pelicula">

                        <a href="#"> <img th:src="@{../images/cartelera/pelicula2.jpg}" alt /></a>
                    </div>
                    <div class="pelicula">

                        <a href="#"> <img th:src="@{../images/cartelera/pelicula3.jpg}" alt /></a>
                    </div>
                    <div class="pelicula">
                        <a href="#"><img th:src="@{../images/cartelera/pelicula4.jpg}" alt /></a>
                    </div>
                    <div class="pelicula">
                        <a href="#"><img th:src="@{../images/cartelera/pelicula5.jpg}" alt /></a>
                    </div>
                    <div class="pelicula">
                        <a href="#"><img th:src="@{../images/cartelera/pelicula6.jpeg}" alt /></a>
                    </div>
                    <div class="pelicula">
                        <a href="#"><img th:src="@{../images/cartelera/pelicula7.jpg}" alt /></a>
                    </div>
                    <div class="pelicula">
                        <a href="#"><img th:src="@{../images/cartelera/pelicula1.jpg}" alt /></a>
                    </div>
                    <div class="pelicula">
                        <a href="#"><img th:src="@{../images/cartelera/pelicula2.jpg}" alt /></a>
                    </div>
                    <div class="pelicula">
                        <a href="#"><img th:src="@{../images/cartelera/pelicula3.jpg}" alt /></a>
                    </div>
                    <div class="pelicula">
                        <a href="#"><img th:src="@{../images/cartelera/pelicula4.jpg}" alt /></a>
                    </div>
                    <div class="pelicula">
                        <a href="#"><img th:src="@{../images/cartelera/pelicula5.jpg}" alt /></a>
                    </div>
                    <div class="pelicula">
                        <a href="#"><img th:src="@{../images/cartelera/pelicula1.jpg}" alt /></a>
                    </div>
                    <div class="pelicula">
                        <a href="#"><img th:src="@{../images/cartelera/pelicula2.jpg}" alt /></a>
                    </div>
                    <div class="pelicula">
                        <a href="#"><img th:src="@{../images/cartelera/pelicula3.jpg}" alt /></a>
                    </div>
                    <div class="pelicula">
                        <a href="#"><img th:src="@{../images/cartelera/pelicula4.jpg}" alt /></a>
                    </div>
                    <div class="pelicula">
                        <a href="#"><img th:src="@{../images/cartelera/pelicula5.jpg}" alt /></a>
                    </div>
                    <div class="pelicula">
                        <a href="#"><img th:src="@{../images/cartelera/pelicula1.jpg}" alt /></a>
                    </div>
                    <div class="pelicula">
                        <a href="#"><img th:src="@{../images/cartelera/pelicula2.jpg}" alt /></a>
                    </div>
                    <div class="pelicula">

                        <a href="#"><img th:src="@{../images/cartelera/pelicula3.jpg}" alt /></a>
                    </div>

                </div>
            </div>
            <button role="button" id="flecha-derecha" class="flecha-derecha">
                <i class="fa-solid fa-angle-right"></i>
            </button>
        </div>
    </div>

    <div th:insert="fragments/carrusel2 :: carrusel__2 "></div>

    <footer th:insert="fragments/footer :: footer"></footer>
    <script>
        const fila = document.querySelector(".contenedor-carousel");
        const peliculas = document.querySelectorAll(".pelicula");

        const flechaIzquierda = document.getElementById("flecha-izquierda");
        const flechaDerecha = document.getElementById("flecha-derecha");

        flechaDerecha.addEventListener("click", () => {
            fila.scrollLeft += fila.offsetWidth;
            const indicadorActivo = document.querySelector(".indicadores .activo");
            if (indicadorActivo.nextSibling) {
                indicadorActivo.nextSibling.classList.add("activo");
                indicadorActivo.classList.remove("activo");
            }
        });
        flechaIzquierda.addEventListener("click", () => {
            fila.scrollLeft -= fila.offsetWidth;
            const indicadorActivo = document.querySelector(".indicadores .activo");
            if (indicadorActivo.previousSibling) {
                indicadorActivo.previousSibling.classList.add("activo");
                indicadorActivo.classList.remove("activo");
            }
        });

        const numeroPaginas = Math.ceil(peliculas.length / 5);
        for (let i = 0; i < numeroPaginas; i++) {
            const indicador = document.createElement("button");
            if (i === 0) {
                indicador.classList.add("activo");
            }
            document.querySelector(".indicadores").appendChild(indicador);
            indicador.addEventListener("click", (e) => {
                fila.scrollLeft = i * fila.offsetWidth;
                document
                    .querySelector(".indicadores .activo")
                    .classList.remove("activo");
                e.target.classList.add("activo");
            });
        }

        peliculas.forEach((pelicula) => {
            pelicula.addEventListener("mouseenter", (e) => {
                const elemento = e.currentTarget;
                setTimeout(() => {
                    peliculas.forEach((pelicula) => pelicula.classList.remove("hover"));
                    elemento.classList.add("hover");
                }, 100);
            });
        });
        fila.addEventListener("mouseleave", () => {
            peliculas.forEach((pelicula) => pelicula.classList.remove("hover"));
        });
    </script>
    <script th:src="@{js/carrusel2.js}"></script>

</body>

</html>