<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/head :: head">
</head>

<body>
    <header th:insert="fragments/header :: header"></header>
    <div th:insert="fragments/banner :: banner"></div>

    <div class="welcome-container-main">
        <div class="welcome-container">
            <div class="welcome-card-1">
                <span class="welcome-back"></span>
                <h1 class="">Bienvenido <br> Socio <br> CineDrive</h1>
                <p>Estas listo para vivir la más grande experiencia y disfrutar los mejores beneficios?<a href="#"
                        style="color: #E50246;"> Socio CineDrive </a>
                    es el programa que esperabas.</p>

                <div class="welcome-btn">
                    <a href="#">Ver más</a>
                </div>
            </div>
            <div class="welcome-card-2">
                <img th:src="@{../images/recursos/carnet_cinedrive-removebg-preview.png}" alt="">
            </div>
        </div>
    </div>

    <div class="cartelera-semanal contenedor">
        <div class="contenedor-titulo-controles">
            <span class="option">
                <h3 class="text-uppercase first-child">Cartelera Semanal</h3>
                <p class="information text-uppercase"><a th:href="@{/cartelera/listados-pelicula}">Ver Cartelera</a></p>
            </span>

            <div class="indicadores"></div>
        </div>

        <div class="contenedor-principal">
            <button role="button" id="flecha-izquierda" class="flecha-izquierda">
                <i class="fa-solid fa-angle-left"></i>
            </button>
            <div class="contenedor-carousel">
                <div class="carousel">
                    <div class="pelicula" th:each="pelicula : ${peliculasNoEstreno}" th:object="${pelicula}">
                        <a th:href="@{/peliculas/{id}(id=*{id})}" style="text-decoration:none;">

                            <img th:src="@{../assets/{filename}(filename=*{rutaPortada})}" th:alt="*{titulo}" />


                        </a>
                    </div>


                </div>
            </div>
            <button role="button" id="flecha-derecha" class="flecha-derecha">
                <i class="fa-solid fa-angle-right"></i>
            </button>
        </div>
    </div>

    <div th:insert="fragments/carrusel2 :: carrusel__2 "></div>

    <footer th:insert="fragments/footer :: footer"></footer>
    <script>
        const fila = document.querySelector(".contenedor-carousel");
        const peliculas = document.querySelectorAll(".pelicula");

        const flechaIzquierda = document.getElementById("flecha-izquierda");
        const flechaDerecha = document.getElementById("flecha-derecha");

        flechaDerecha.addEventListener("click", () => {
            fila.scrollLeft += fila.offsetWidth;
            const indicadorActivo = document.querySelector(".indicadores .activo");
            if (indicadorActivo.nextSibling) {
                indicadorActivo.nextSibling.classList.add("activo");
                indicadorActivo.classList.remove("activo");
            }
        });
        flechaIzquierda.addEventListener("click", () => {
            fila.scrollLeft -= fila.offsetWidth;
            const indicadorActivo = document.querySelector(".indicadores .activo");
            if (indicadorActivo.previousSibling) {
                indicadorActivo.previousSibling.classList.add("activo");
                indicadorActivo.classList.remove("activo");
            }
        });

        const numeroPaginas = Math.ceil(peliculas.length / 5);
        for (let i = 0; i < numeroPaginas; i++) {
            const indicador = document.createElement("button");
            if (i === 0) {
                indicador.classList.add("activo");
            }
            document.querySelector(".indicadores").appendChild(indicador);
            indicador.addEventListener("click", (e) => {
                fila.scrollLeft = i * fila.offsetWidth;
                document
                    .querySelector(".indicadores .activo")
                    .classList.remove("activo");
                e.target.classList.add("activo");
            });
        }

        peliculas.forEach((pelicula) => {
            pelicula.addEventListener("mouseenter", (e) => {
                const elemento = e.currentTarget;
                setTimeout(() => {
                    peliculas.forEach((pelicula) => pelicula.classList.remove("hover"));
                    elemento.classList.add("hover");
                }, 100);
            });
        });
        fila.addEventListener("mouseleave", () => {
            peliculas.forEach((pelicula) => pelicula.classList.remove("hover"));
        });
    </script>
    <script th:src="@{js/carrusel2.js}"></script>

</body>

</html>